html,
body {
    padding: 0px;
    margin: 0px;
}


/* Navigation start */

.nav-container {
    background: #dbdffd;
    padding: 20px 300px 20px 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-container img {
    margin-right: 3px;
    width: auto;
    height: 29px;
}

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
.nav-container>.copywriter {
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 850;
}

.nav-options {
    margin-left: auto;
    display: flex;
}

.nav-options a {
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    margin-right: 18px;
    color: rgb(59, 57, 57);
}

.nav-options>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: blue;
    transition: width .3s;
}

.nav-options>a:hover {
    color: blue;
}

.nav-options>a:hover::after {
    width: 100%;
}


/* Nav Part ends here */


/* portfolio pic and content  star*/

.header-section {
    margin-top: 80px;
    padding: 20px 300px 20px 300px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-items: center;
    align-items: center;
}


#i-am{
    font-weight: 800;
}

#i-am>span{
    font-size: 75px;
}


.header-content{
    display: flex;
    flex-direction: column;
}

.header-content p{
    margin-bottom: 25px;
}


.header-content a {
    text-decoration: none;
    display: block;
    width: 135px;
    height: 25px;
    background: #420ed1;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/* portfolio pic and content end */


/* Services part start here*/

.service-container1{
    background:  #f8fafb;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px 300px 20px 300px;
}


#help span{
    font-weight: 800;
    font-size: 45px;
    font-family: sans-serif;
}

.service-container2{
    background-color: #f8fafb;
    padding: 30px 300px 30px 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-container2 h2{
    color: blue;
}