@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


/* Navigation start */

.nav-container {
    background: #dbdffd;
    padding: 20px 100px 20px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 23px;
    text-decoration: none;
    color: #000;
}

.text-1 {
    font-weight: bold;
    padding-left: 8px
}

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
.nav-container>.copywriter {
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 850;
}

.nav-options {
    margin-left: auto;
    display: flex;
}

.nav-options a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-right: 18px;
    color: rgb(59, 57, 57);
    font-weight: 400;
}

.nav-options>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: blue;
    transition: width .3s;
}

.nav-options>a:hover {
    color: blue;
}

.nav-options>a:hover::after {
    width: 100%;
}


/* Nav Part ends here */


/* portfolio pic and content  star*/

.header-section {
    margin-top: 80px;
    padding: 20px 300px 20px 300px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-items: center;
    align-items: center;
}

#i-am {
    font-weight: 800;
}

.header-content h6 {
    font-weight: bold;
    font-size: 15px;
}

#i-am>span {
    font-size: 75px;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-content p {
    margin-bottom: 25px;
}

.header-content a {
    text-decoration: none;
    display: block;
    width: 135px;
    height: 25px;
    background: #420ed1;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.heroSection {
    margin-top: 100px;
}


/* Services part start here*/

.about-service-bi {
    background-image: linear-gradient(180deg, white, rgb(140, 172, 167));
    background-repeat: no-repeat;
    background-size: 100%;
}

.service-container1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px 300px 20px 300px;
}

#help span {
    font-weight: 800;
    font-size: 45px;
    font-family: sans-serif;
}

.service-container2 {
    padding: 30px 300px 30px 300px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    size: 2px;
}

.service-container2 h2 {
    color: blue;
}

#more-details {
    text-decoration: none;
    color: rgb(32, 28, 28);
    font-size: 12px;
}


/* /* Services part end */


/* about part */

.group-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 300px;
}

#about-title {
    text-align: center;
}

#about-details {
    padding: 30px 300px 30px 300px;
}

#about-title span {
    font-weight: 800;
    font-size: 45px;
    font-family: sans-serif;
}

.about-statistic {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.statistic-img img {
    width: 60px;
    height: 60px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.statistic-1,
.statistic-2,
.statistic-3 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 0;
}

.about-last p {
    padding: 30px 200px 30px 200px;
    font-size: 13px;
}


/* work ex */

.work-container {
    margin-bottom: 80px;
}


/* contact me */

#contactMe {
    margin-top: 70px;
    margin-bottom: 60px;
}

.contactContainer {
    width: 1000px;
    margin: auto;
    display: flex;
    text-decoration: none;
}

.contactContent-1 {
    width: 500px;
}

.contactHeader {
    font-size: 40px;
    font-weight: bold;
}

.contactP {
    margin-bottom: 30px;
}

.contactInfo i {
    color: #420ed1;
    font-size: 20px;
    padding-right: 10px;
}

.social {
    font-size: 25px;
    margin-bottom: 20px;
}

.social i {
    margin-right: 10px;
}

.contactContent-2 {
    width: 300px;
    align-items: center;
    margin-left: 20px;
}

.contactContent-2 input {
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    outline: none;
}

.contactContent-2 textarea {
    border: none;
    font-size: 15px;
    font-family: 'Poppins';
    padding: 0 30px;
    outline: none;
}

.contact-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Poppins';
    border: none;
    background-color: #420ed1;
    color: white;
    font-weight: 500;
}


/*contact me done*/


/*footer*/

footer {
    background-color: #151525;
    padding: .2%;
    text-align: center;
    color: white;
}


/*footer end*/